/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2015, 20:40:39
    Author     : Adam
*/

/* We don't need the default padding, or margins' */
*{ padding: 0px; margin: 0px; }

/* We can make a button style */
.btn{  
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background: rgba(100,100,100,0.3)
}
.btn:hover{ 
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn:link{ text-decoration: none; }
.btn:visited{ text-decoration: none; }
.btn:active{ text-decoration: none; }



/* Full-screen div */
.full-screen{
	position: fixed;
	left: 0px;
	top: 0px;
	height:100%;
	width:100%;
}

/* Run button */
#run_button{
	width:100%;
	height:50px;
	position: fixed;
	bottom: 10px;
	text-align: center;
	padding: 25px;
	
}
#run_button a{ }

/* Top navigation */
#top_nav{
	width:500px;
	height:80px;
	position:fixed;
	top:20px;
	left: 50%;
	text-align: center;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Authentication indicator */
#auth_indicator{
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: none;
} #auth_indicator > div{ padding: 10px; }
