/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Nov-2015, 20:40:39
    Author     : Adam
*/

.filter_option{
	padding: 10px;
	font-size: 20px;
	margin: 10px auto;
	text-align: center;
	width: 100px;
	height: 50px;

} .filter_option[data-selected="false"]:hover{ border: 1px solid black; cursor:pointer; }
.filter_option[data-selected="true"]{ border: 1px solid black; }
.filter_option[data-selected="false"]{ border: 1px dotted black; }


