
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        	<title>YouBot Visual</title>
        	<meta charset="UTF-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="/static/img/favicon.ico">
			
			
			<!--<link rel="stylesheet" type="text/css" href="/static/js/css/base/jquery-ui.css">-->
			<link id="ui_style" rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
			<link  rel="stylesheet" type="text/css" href="/static/css/jqueryui/css/base/jquery-ui.css">
			
			
			
			<!--
				JQUERY Scripts
					-->
        	<script src="/static/js/jquery/jquery.js"></script>
			<script src="/static/js/jqueryui/jquery-ui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui-helper.js"></script>
			
			<!-- 
				Blockly Scripts
					-->
			<script src="/static/js/blockly/blockly_compressed.js"></script>
			<script src="/static/js/blockly/blocks_compressed.js"></script>
			<script src="/static/js/blockly/msg/js/en.js"></script>
			<script src="/static/js/blockly/generators/robotcode.js"></script>
			
        	<!--<script src="/static/js/YBEditor.js"></script>-->
			
			<!--
				YBEditor scripts
					-->
        	<script src="/static/js/YBEditor/YBEditor-controller.js"></script>
			<script src="/static/js/YBEditor/YBEditor-blocks.js"></script>
			<script src="/static/js/YBEditor/YBEditor-file.js"></script>
			<script src="/static/js/YBEditor/YBEditor-authentication.js"></script>
			<script src="/static/js/YBEditor/YBEditor-ui.js"></script>
		
    </head>
    <body>
        <div class="easyui-panel" title="New User" style="width:400px">
	    <form id="ff" method="post">
	    	<table cellpadding="5">
	    		<tr>
	    			<td>Enter Password:</td>
	    			<td><input id="pass_box" class="easyui-textbox" type="text" name="password" data-options="required:true"></input></td>
	    		</tr>
	    	</table>
	    </form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">Submit</a>
	    </div>
	    </div>
	</div>
	<script>
		
		function submitForm(){
			SendData(document.getElementById('pass_box').value,function(data){
				if(data=="ACCEPTED"){
						window.location.href="/editor";
				}
			
			});
		}
		
		
		isDocumentReady(function(){
				RequestData("/editor");
			});
		
		
		
	</script>
		
    </body>
        
</html>

