
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        	<title>YouBot Visual - Console</title>
        	<meta charset="UTF-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="/static/img/favicon.ico">
			
			
			<!--<link rel="stylesheet" type="text/css" href="/static/js/css/base/jquery-ui.css">-->
			<link id="ui_style" rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
			<link  rel="stylesheet" type="text/css" href="/static/css/jqueryui/css/base/jquery-ui.css">
			
			
			
			<!--
				JQUERY Scripts
					-->
        	<script src="/static/js/jquery/jquery.js"></script>
			<script src="/static/js/jqueryui/jquery-ui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui-helper.js"></script>
			
			<!-- 
				Blockly Scripts
					-->
			<script src="/static/js/blockly/blockly_compressed.js"></script>
			<script src="/static/js/blockly/blocks_compressed.js"></script>
			<script src="/static/js/blockly/msg/js/en.js"></script>
			<script src="/static/js/blockly/generators/robotcode.js"></script>
			
        	<!--<script src="/static/js/YBEditor.js"></script>-->
			
			<!--
				YBEditor scripts
					-->
        	<script src="/static/js/YBEditor/YBEditor-controller.js"></script>
			<script src="/static/js/YBEditor/YBEditor-blocks.js"></script>
			<script src="/static/js/YBEditor/YBEditor-file.js"></script>
			<script src="/static/js/YBEditor/YBEditor-authentication.js"></script>
			<script src="/static/js/YBEditor/YBEditor-console.js"></script>
			<script src="/static/js/YBEditor/YBEditor-ui.js"></script>
		
    </head>
    <body>
		
		<!-- START: Login form -->
		<div id="login_form" class="easyui-window" title="Admin Login" closed="false" closable="false" maximizable="false" draggable="false" minimizable="false"   style="width:400px">
			<form id="ff" method="post">
				<table cellpadding="5">
					<tr>
						<td>Enter Password:</td>
						<td><input id="pass_box" class="easyui-textbox" type="text" name="password" data-options="required:true"></input></td>
					</tr>
				</table>
			</form>
			<div style="text-align:center;padding:5px">
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="CheckAdminPassword()">Submit</a>
			</div>
	    </div>
		<!-- END: login form -->
		
		<!-- START: MAIN INT -->
		<div id="main_interface" style=" width: 1334px; height: 750px; margin: 20px auto; display:none;">
			<!-- START: outer layout -->
			<div class="easyui-layout" style="width:100%; height: 100%; fit:true">
				<div id="connections_div" class="easyui-panel" title="Active Connections" style="width:80%; height:100%" data-options="region:'east' " >
					
				</div>
				<div id="commands" class="easyui-panel" title="Commands" style="width:20%; height:100%" data-options="region:'west'">
					<!-- COMMANDS TREE -->
					<ul id="commands_tree" class="easyui-tree">
						<li>
							<span>Commands</span>
							<ul>
								<li><a href="javascript:void(0)" class="easyui-linkbutton" onclick="RejectAll()">REJECT ALL</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
				
			</div>
			<!-- END: outer layout -->
		
		
		</div>
		<!-- END: MAIN INT -->
		
		
		
    </body>
        
</html>

