<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        	<title>YouBot Visual</title>
        	<meta charset="UTF-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="/static/img/favicon.ico">
			
			
			<!--<link rel="stylesheet" type="text/css" href="/static/js/css/base/jquery-ui.css">-->
			<link id="ui_style" rel="stylesheet" type="text/css" href="/static/css/themes/default/easyui.css">
			<link  rel="stylesheet" type="text/css" href="/static/css/jqueryui/css/base/jquery-ui.css">
			
			
			
			<!--
				JQUERY Scripts
					-->
        	<script src="/static/js/jquery/jquery.js"></script>
			<script src="/static/js/jqueryui/jquery-ui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui.js"></script>
			<script src="/static/js/jqueryui/jquery-easyui-helper.js"></script>
			
			<!-- MOUSETRAP - handles user input -->
			<script src="/static/js/mousetrap/mousetrap.js"></script>
			
			<!-- 
				Blockly Scripts
					-->
			<script src="/static/js/blockly/blockly_compressed.js"></script>
			<script src="/static/js/blockly/blocks_compressed.js"></script>
			<script src="/static/js/blockly/msg/js/en.js"></script>
			<script src="/static/js/blockly/generators/robotcode.js"></script>
			
        	<!--<script src="/static/js/YBEditor.js"></script>-->
			
			<!--
				YBEditor scripts
					-->
        		<script src="/static/js/YBEditor/YBEditor-controller.js"></script>
			<script src="/static/js/YBEditor/YBEditor-blocks.js"></script>
			<script src="/static/js/YBEditor/YBEditor-file.js"></script>
			<script src="/static/js/YBEditor/YBEditor-ui.js"></script>
		
    </head>
    <body>
        
		
	<!-- START: outer div -->
	<div id="main_interface" style=" width: 1334px; height: 750px; margin: 20px auto" id="outer_div">
		<!-- START: outer layout -->
		<div class="easyui-layout" style="width:100%; height: 100%; fit:true">
		
			<!-- START: menu layout -->
			<div class="easyui-panel" style="padding:5px" data-options="region:'north' " >
				<a href="#" class="easyui-menubutton" data-options=" menu:'#file_menu'">File</a>
				<a href="#" class="easyui-menubutton" data-options=" menu:'#view_menu'">View</a>
				<a href="#" class="easyui-menubutton" data-options=" menu:'#app_menu'">Application</a>
				<a href="#" class="easyui-menubutton" data-options=" menu:'#help_menu'">Help</a>
			</div>
			<!-- END: menu layout -->
			
			<!-- START: lower layout -->
			<div data-options="region:'center'" style="width: 800px; height: 800px;">
				<div class="easyui-layout" data-options="fit:true">
				
				
						<!-- START: EDIT AREA -->
						<div id="editor_visual_content" data-options="region:'center',split:true" title="Editing Area" style="width:100px;">
						
						<!-- MAIN EDITING AREA CONTENTS -->
						
						
						
						</div>
						<!-- END: EDIT AREA-->		
						
				</div>
			
			</div>
			<!-- END: lower layout -->
			
		</div>
		<!-- END: outer layout -->
		
		<!-- START: footer layout -->
			<div class="easyui-panel" style="padding:5px" data-options="region:'south' " >
				<div style="float: left;"><strong>Theme Select:</strong>
				<select id="theme_selector" onchange="changeStyle(this.value)"  name="theme_select" style="width:200px;">
					<option value="metro">Metro</option>
					<option value="gray">Gray</option>
					<option value="default">Default</option>
					<option value="bootstrap">Bootstrap</option>
					<option value="black">Black</option>
				</select>
				
				<a href="/console" class="easyui-linkbutton" >Admin</a>
				
			</div>
			<!-- END: footer layout -->
		
	</div>
	<!-- END: outer div -->
		
		<!-- START: projects menu items -->
		<div id="file_menu">
			<div onclick="newClicked(true)">New</div>
			<div onclick="openClicked()">Open</div>
			<div onclick="saveClicked()">Save</div>
		</div>
		<!-- END: projects menu items -->
		
		<!-- START: view menu items -->
		<div id="view_menu">
			<div>
				<span>Sensor Data</span>
				<div>
					<div onclick="">Camera</div>
				</div>
			
			</div>
		</div>
		<!-- END: view menu items -->
		
		<!-- START: programs menu items -->
		<div id="app_menu">
			<div onclick="runClicked(this)">Run</div>
			<div onclick="stopClicked(this)">Stop</div>
			<div>
				<span>Demos</span>
				<div>
					<div onclick="demoClicked(this,'Helloworld')">Hello World</div>
					<div onclick="demoClicked(this,'Joystick Control')">Joystick Control</div>
					<div onclick="demoClicked(this,'Keyboard')">Keyboard Control</div>
				</div>
			</div>
		</div>
		<!-- END: programs menu items -->
		
		<!-- START: start menu items -->
		<div id="help_menu">
			<div onclick="toggleGettingStarted(true)">Getting Started</div>
		</div>
		<!-- END: start menu items -->
		
		
		
		
		<!-- START: Toolbox Data -->
		<xml id="toolbox" style="display: none">
			<category name="Statements" colour="100">
				<block type="start_robot"></block>
				<category name="Base" colour="200">
					<block type="move"></block>
					<block type="rotate"></block>
				</category>
				<category name="Arm" colour="300">
					<block type="move_arm_pre"></block>
					<category name="Gripper" colour="350">
						<block type="gripper_status">
					</category>
				</category>
			</category>
			<category name="Conditions" colour="20">
				<block type="controls_if"></block>
			</category>
			<category name="Logic" colour="10">
			
			</category>

		</xml>
		<!-- END: Toolbox Data -->
		
		<!-- START: Init editor workspace -->
		<script>
			
			//Create the workspace variable
			var workspace = Blockly.inject('editor_visual_content',
				{ toolbox: document.getElementById('toolbox'),
				grid:
				{
					spacing: 20,
					length: 3,
					colour: '#ccc',
					snap:true
				}
				
				}
				);
		
		</script>
		<!-- END: Init editor workspace -->
		
		<!-- START: getting started window -->
			<div id="getting_started" class="easyui-window" title="Getting Started" data-options="modal:false" style="width:700px;height:300px;padding:10px; ">
				
				
				<div class="easyui-tabs" style="width:100%; height:100%;">
					<div title="About" style="padding:10px;">
						<div><h1>YB Visual</h1></div>
						<div>YB Visual is a visual program framework for the KUKA Youbot, providing an easy interface for developing robotic programs.</div>
						<div><strong>Use the "LINKS" tab to access tutorials, and further documentation for this tool.</strong></div>
						<hr />
						<div>Create a new program:</div>
						<a href="#" onclick=" toggleGettingStarted(false); newClicked(false);" class="easyui-linkbutton">New</a>
						<div>Open an existing program:</div>
						<a href="#" class="easyui-linkbutton">Open</a>
					</div>
					<div title="Links" style="padding:10px;">
						<div>Access the official documentation: </div>
						<a href="#" class="easyui-linkbutton">Official Documentation</a>
						<div>View the tutorials: </div>
						<a href="#" class="easyui-linkbutton">Tutorials</a>
						<div>KUKA Robotics Website: </div>
						<a href="http://www.kuka-robotics.com/united_kingdom/en/" class="easyui-linkbutton">KUKA Robotics</a>
					</div>
				</div>
			</div>
		<!-- END: getting started window -->
		
		<!-- START: demo window -->
			<div id="demo_window" class="easyui-window" title="Getting Started" collapsible="false" closable="false" minimizable="false" maximizable="false" resizable="false" closed="true" data-options="modal:true" style="width:700px;height:300px;padding:10px; ">
					<div><h1>Running Demo</h1></div>
					<div><h2 id="demo_window_header">NAME</h2></div>
					<h3>Robot is running the specified demo - press ESC to stop</h3>
			</div>
		<!-- END: demo window -->
	
		<!-- START: new application panel -->
		<div id="new_app" class="easyui-window" closed="true" title="New Application" style="width:250px; height:150px; padding:10px; ">
						<div>Name: <input class="easyui-textbox" type="text" name="appname" data-options="required:true"></input></div>
						
						<hr />
						<div><a href="#" class="easyui-linkbutton">Accept</a>
						<a href="#" class="easyui-linkbutton">Cancel</a>
						</div>
		</div>
		<!-- END: new application panel -->

		
    </body>
        
</html>
